body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2f3136;
    color: #ffffff;
}

#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #2f3136;
}

.login-box {
    background-color: #36393f;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
}

.login-box button {
    padding: 10px 20px;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
